<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomorrow_p">


    <!--    gesture_start -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--    gesture_end -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--    view_start    -->
        <activity android:name=".view.TouchPanelEdge"></activity>

        <!--    view_end    -->
        <activity android:name=".common.encrypt.EncryptTestActivity"></activity>

        <!--    setupwizard_start -->
        <activity
            android:name=".setupwizard.DefaultActivity"
            android:label="@string/setupwizard_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/setupwizard_AppTheme">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.HOME" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".setupwizard.SimActivity"
            android:theme="@style/setupwizard_AppTheme">
            <intent-filter>
                <action android:name="com.android.provision.SimActivity"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".setupwizard.OpenActivity"
            android:theme="@style/setupwizard_AppTheme">
            <intent-filter>
                <action android:name="com.android.provision.OpenActivity"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <!--    setupwizard_end -->

        <!--    gesture_start -->
        <activity
            android:name=".gesture.MainActivity"
            android:label="@string/smart_induction"
            android:theme="@android:style/Theme.Material.Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--<data-->
                <!--android:host="AuthActivity"-->
                <!--android:scheme="com.tomorrow_p.gesture" />-->
            </intent-filter>
        </activity>

        <activity
            android:name="gesture.AnimationActivity"
            android:theme="@style/gesture_NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name=".gesture.database.GestureContentProvider"
            android:authorities="com.tomorrow_p.gesture"
            android:exported="true" />
        <!--    gesture_end -->


    </application>

</manifest>