<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomorrow_p">
    <!--拥有同一个User id的多个APK可以配置成运行在同一个进程中,把程序的UID配成android.uid.system,可以让程序运行在系统进程中,拥有系统权限-->
    <!--android:sharedUserId="android.uid.system"-->
    <!--coreApp是android在bootmode下系统启动的最小子集,在这个模式下,有一组最少的,必须的app需要启动-->
    <!--coreApp="true"-->


    <!--    gesture_start -->
    <!--获取WiFi状态; 获取当前WiFi接入的状态以及WLAN热点的信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--拨打电话; 允许程序从非系统拨号器里输入电话号码-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--读写系统设置; 允许读写系统设置项-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--唤醒锁定; 允许程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取任务信息; 允许程序获取当前或最近运行的应用-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--禁用键盘锁; 允许程序禁用键盘锁-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--开机自动允许; 允许程序开机自动运行-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--    gesture_end -->

    <!--拍照权限; 允许访问摄像头进行拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--挂载文件系统; 挂载、反挂载外部文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--写入外部存储; 允许程序写入外部存储，如SD卡上写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--使用振动; 允许振动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--该进程常驻系统,不会被杀掉-->
    <!--android:persistent="true"-->
    <!--标记应用程序的data是否允许被用户清除;android:allowBackup标记是否允许一个应用使用backup机制-->
    <!--android:allowClearUserData和android:allowBackup-->
    <!--不使用硬件加速-->
    <!--android:hardwareAccelerated="false"-->
    <!--这是Android4.1引入的一个功能，能够让排版支持从右到左-->
    <!--android:supportsRtl-->


    <application
        android:name=".CodeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--通过这个Activity启动的任务是否会排除在”recent apps” 之外-->
        <!--android:excludeFromRecents-->
        <!--这个属性用于指示该服务是否能够被其他应用程序组件调用或跟它交互-->
        <!--android:exported="true"-->

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--    view_start    -->
        <activity android:name=".view.TouchPanelEdge"></activity>

        <!--    view_end    -->
        <activity android:name=".activity.EncryptTestActivity"></activity>

        <!--    setupwizard_start -->
        <activity
            android:name=".setupwizard.DefaultActivity"
            android:label="@string/setupwizard_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/setupwizard_AppTheme">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:label="android.intent.category.HOME" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".setupwizard.SimActivity"
            android:theme="@style/setupwizard_AppTheme">
            <intent-filter>
                <action android:name="com.android.provision.SimActivity"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".setupwizard.OpenActivity"
            android:theme="@style/setupwizard_AppTheme">
            <intent-filter>
                <action android:name="com.android.provision.OpenActivity"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <!--    setupwizard_end -->

        <!--    gesture_start -->
        <activity
            android:name=".gesture.MainActivity"
            android:label="@string/smart_induction"
            android:theme="@android:style/Theme.Material.Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--<data-->
                <!--android:host="AuthActivity"-->
                <!--android:scheme="com.tomorrow_p.gesture" />-->
            </intent-filter>
        </activity>

        <activity
            android:name="gesture.AnimationActivity"
            android:theme="@style/gesture_NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".view.drawoutline.DrawOutlineActivity"></activity>
        <activity android:name=".activity.DateFormatActivity"></activity>
        <activity android:name=".activity.DialogActivity"></activity>
        <activity android:name=".activity.CameraActivity"></activity>
        <activity android:name=".activity.CameraPreviewImageActivity"></activity>
        <activity android:name=".activity.WarrantyActivity"></activity>
        <activity android:name=".activity.VibratorActivity"></activity>
        <activity android:name=".activity.NotificationActivity"></activity>
        <activity android:name=".activity.NotificationCustomActivity"></activity>
        <activity android:name=".activity.NotificationProgressActivity"></activity>
        <activity android:name=".activity.BluetoothActivity"></activity>
        <activity android:name=".activity.BluetoothServerActivity"></activity>
        <activity android:name=".activity.BluetoothClientActivity"></activity>


        <receiver android:name=".receiver.BootRecerver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.WXAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>


        <provider
            android:name=".gesture.database.GestureContentProvider"
            android:authorities="com.tomorrow_p.gesture"
            android:exported="true" />

        <provider
            android:name=".provider.AppsManageProvider"
            android:authorities="com.tomorrow_p.apps"
            android:exported="true" />


    </application>

</manifest>